<div class="ui middle aligned center aligned grid">
    <div class="eight wide column">
        <h2 class="ui image header">
            <div class="content">
                Log-in to your account
            </div>
        </h2>
        <form class="ui large form">
            <div class="ui stacked secondary segment">
                <div class="field">
                    <div class="ui left icon input">
                        <i class="user icon"></i>
                        <input type="text" name="username" ng-model="vm.user.name" placeholder="Username">
                    </div>
                </div>
                <div class="field">
                    <div class="ui left icon input">
                        <i class="lock icon"></i>
                        <input type="password" name="password" ng-model="vm.user.password" placeholder="Password">
                    </div>
                </div>
                <div class="ui fluid large teal submit button" ng-click="vm.enter()">Login</div>
            </div>
            <div show-if="{{vm.isError}}" class="ui error message">Invalid username or password.</div>
        </form>
    </div>
</div>